@model CalculatorViewModel
<div id="@CalculatorViewModel.Keys.Results" class="notification is-light-header page-title">
    <h1 class="title has-text-right" id="@CalculatorViewModel.Keys.ActiveCalculation">@Model.ActiveCalculation</h1>
    <h1 class="title has-text-right" id="@CalculatorViewModel.Keys.ResultValue">@($"{Model.ResultValue:N}")</h1>
</div>
